@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0.1em solid darkgray;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  background: url("") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

ol, ul {
  padding: 0;
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player {
  --seek-before-width: 0%;
  --volume-before-width: 100%;
  --buffered-width: 0%;

  position: relative;
  max-width: 350px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  z-index: 10;
}


.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.volume {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.progress {
  display: flex;
  align-items: center;
  width: 100%;
  column-gap: 5px;
  margin: 20px 0;
}

.progress-bar {
  flex-grow: 1;
}

.audio-meta {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  row-gap: 10px;
  margin: 20px 0;
}

.song-artist {
  font-size: 22px;
  font-weight: bold;
  transition: 0.4s;
}

.song-title {

  font-size: 16px;
  text-align: left;
  line-height: 1.4;
  transition: 0.4s;
}

input[type="range"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: auto;
  height: 19px;
  margin: 0;
  padding: 0;
  float: left;
  outline: none;
  background-color: transparent;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgb(0, 124, 181) var(--buffered-width), rgba(0, 125, 181, 0.2) var(--buffered-width));
}

input[type="range"]::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: var(--seek-before-width);
  height: 3px;
  background-color: #007db5;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin: -7px 0 0 0;
}

input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: #007db5;
}

#volume-slider {
  width: 70px;
}

#volume-slider::-webkit-slider-runnable-track {
  background: rgba(0, 125, 181, 0.6);
}

#volume-slider::before {
  width: var(--volume-before-width);
}

.play-list {
  opacity: 0;
  height: 0;
  margin-left: 10px;
  visibility: hidden;
  text-align: left;
  transition: 1s ease;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  position: absolute;
  left: -5px;
  content: '';
  width: 15px;
  height: 15px;
  background-size: 15px;
  background-image: url("../assets/svg/play.svg");
}

.item-active::before {
  background-image: url("../assets/svg/pause.svg");
  transform: scale(1.3);
  transition: 0.4s;
}

.item-active {
  opacity: 1;
  font-weight: bold;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.volume-high {
  background-image: url("../assets/svg/volume-high.svg");
}

.volume-medium {
  background-image: url("../assets/svg/volume-medium.svg");
}

.volume-low {
  background-image: url("../assets/svg/volume-low.svg");
}

.mute {
  background-image: url("../assets/svg/volume-mute2.svg");
}

.show-playlist {
  background-image: url("../assets/svg/menu3.svg");
}

.show-playlist.hide {
  background-image: url("../assets/svg/menu4.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.greeting {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100%;
  font-size: 40px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.greeting-text {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: stretch;
  width: 100%;
  height: 28vh;
  min-height: 160px;  
  padding: 20px;
}

.quote {
  font-size: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote-text {
  min-height: 32px;
  margin-bottom: 6px;
  transition: all 0.4s ease;
}

.author {
  font-size: 16px;
  min-height: 1.6;
  margin-bottom: 20px;
}

.settings-general,
.settings-background,
.settings-quote,
.settings-player {
  display: none;
}

.tab-visible {
  display: block;
}

.app-wrapper {
  position: relative;
  bottom: 6px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.settings .app-wrapper.show-fade-in {
  opacity: 0.98;
  visibility: visible;
  z-index: 10;
}

.todo.show.show-fade-in .app-wrapper {
  opacity: 0.98;
  visibility: visible;
}

.app {
  position: absolute;
  bottom: 12px;
  max-height: 100vh;
  min-width: 200px;
  background-color: #fff;
  border-radius: 12px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  color: hsl(232, 19%, 16%);
}

.settings-app {
  height: 520px;
  width: 720px;
  padding: 0;
}

.nipple-bottom-left:after {
  position: absolute;
  content: '';
  bottom: 5px;
  left: 30px;
  height: 0;
  width: 0;
  overflow: visible;
  display: block;
  opacity: 1;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
}

.nipple-bottom-right:after {
  position: absolute;
  content: '';
  bottom: 5px;
  right: 30px;
  height: 0;
  width: 0;
  overflow: visible;
  display: block;
  opacity: 1;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
}

.settings-nav {
  height: 520px;
  width: 200px;
  margin-top: 0;
  padding: 23px 0 0;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  border-right: 1px solid hsl(219, 12%, 68%);
  float: left;
  overflow: hidden;
}

.settings-nav .active {
  opacity: 1 !important;
  font-weight: bold !important;
}

.settings-nav-list {
  flex-grow: 1;
}

.settings-nav .settings-nav-item {
  padding: 5px 20px;
  flex: 0 0 auto;
  display: block;
  opacity: 0.65;
  cursor: pointer;
  font-size: 1.0625rem;
  font-weight: 500;
  transition: opacity 0.4s ease;
}

.settings-nav .settings-nav-item:hover {
  opacity: 0.85;
}

.settings-view-container-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.settings-view-container {
  flex-grow: 1;
}

.settings-view {
  min-height: 100%;
  width: 507px;
  padding: 30px;
  position: relative;
  overflow-x: hidden;
}

.settings h3 {
  margin: -1px 0 2px;
  font-size: 1.375rem;
  font-weight: 600;
}

.settings-view h4 {
  margin-bottom: 15px;
}

.bg-info {
  margin-top: 12px;
}

.settings .description {
  margin: 3px 0 21px;
  font-size: 0.875rem;
  line-height: 1.3;
  opacity: 0.7;
}

.settings .first {
  margin-top: 0;
  margin: 39px 0 13px;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.options-list {
  padding: 0;
  list-style-type: none;
  margin-bottom: 15px;
}

.settings-list li {
  margin: 0;
  padding: 11px 6px;
  border-top: 1px solid rgb(214, 214, 214);
}

.slide-toggle {
  padding: 11px 6px;
  position: relative;
  cursor: pointer;
}

.has-toggle:hover .toggle-slider {
  background-color: rgb(66, 66, 66);
}

.on:not(.disabled).has-toggle:hover .toggle-slider {
  background: #7edc74;
}

.setting-name {
  opacity: 0.9;
}

.slide-toggle input[type=checkbox] {
  display: none;
}

.toggle-slider {
  position: relative;
}

.slide-toggle.disabled .toggle-slider {
  opacity: .5;
}

.app input, .app select, .app textarea {
  width: 100%;
  padding: 6px 1px;
  border: 0;
  border-bottom: 2px solid rgb(231, 225, 225);
  -webkit-border-radius: 0;
  border-radius: 0;
  color: black;
  font-size: 100%;
  outline: 0;
  transition: border .1s ease;
}

.settings-label, .settings-submit {
  display: inline-block;
  margin-top: 24px;
  opacity: 0;
  transition: opacity 0.4s;
}

.on:not(.disabled) .toggle-slider {
  background: #4cbf3f;
}

.on:not(.disabled) .toggle-switch {
  transform: translateX(14px) scale(1.25);
}

.toggle-switch {
  position: relative;
  height: 12px;
  width: 12px;
  top: 4px;
  left: 3px;
  display: inline-block;
  transform-origin: 50% 50%;
  transition: transform 0.3s ease;
  vertical-align: top;
}

.on:not(.disabled) .toggle-switch circle {
  opacity: 1;
}

.toggle-switch circle {
  opacity: .7;
  fill: #fff;
}

.toggle-slider {
  position: relative;
  height: 20px;
  width: 33px;
  background: gray;
  border-radius: 30px;
  float: right;
}

.toggle-lang .toggle-slider {
  background-color: #fff;
  border: 1px solid #d3d2d2;
}

.toggle-lang .toggle-switch circle {
  fill: #d3d2d2;
}

.toggle-lang.on .toggle-slider {
  background: #fff;
}

.toggle-lang .on:hover .toggle-slider {
  background: #fff;
}

.settings-list .toggle-slider {
  margin-top: -1px;
  margin-right: -1px;
}

.toggle {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .15s ease, filter .15s ease;
}

.toggle:hover {
  opacity: 0.8;
}

.settings .toggle-icon {
  height: 18px;
  width: 18px;
  transition: transform 0.15s;
}

#settings.show-fade-in ~ .todo-wrapper .toggle {
  opacity: 1;
}

#settings.show-fade-in ~ .todo-wrapper .toggle-icon {
  transform: rotate(38deg) scale(1.1);
}

.settings-nav-chooser {
  display: none;
}

.mobile-close {
  position: absolute;
  top: 0;
  right: 12px;
  padding: 21px;
  display: block;
}

.icon-wrapper {
  padding: 5px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-wrapper:after {
  content: '';
  height: 25px;
  width: 25px;
  position: absolute;
  z-index: 2;
  border-radius: 50px;
  background:rgb(226, 223, 223)
}

.more.active .icon-wrapper:after {
 background-color: rgb(226, 223, 223);
}

.mobile-close .icon {
  height: 9px;
  width: 9px;
  opacity: 0.8;
  z-index: 12;
  fill: hsl(120, 11%, 11%);
}

.settings-nav-header {
  display: none;
}

.todo-wrapper {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.todo {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
}

.todo .todo-app {
  position: absolute;
  bottom: 12px;
  right: 7px;
}

.todo-header {
  padding: 0;
  padding-top: 5px;
  min-height: 55px;
  height: auto;
  position: relative;
  z-index: 2;
  display: block;
  cursor: pointer;
}

.todo-header-row {
  height: 55px;
  position: relative;
  flex-grow: 1;
  display: flex;
}

.todo .list-color {
  width: 5px;
  position: absolute;
  top: 11px;
  bottom: 3px;
  left: 0;
  display: inline;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.todo .active-list-container {
  min-width: 0;
  padding-top: 5px;
  padding-left: 21px;
  flex: 1 1 auto;
  display: inline-flex;
  align-items: center;
  transition: all .2s ease;
}

.todo .active-list-name {
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

.todo .list-chooser-toggle {
  margin: 0 10px;
  padding: 0;
}

.todo .list-chooser-toggle .icon {
  width: 10px;
  height: 10px;
  opacity: 0.7;
  margin-top: 2px;
  z-index: 3;
}

.todo .icon-wrapper::after {
  background: #fff;
}

.todo .icon-wrapper:hover::after {
  width: 22px;
  height: 22px;
  background:rgb(226, 223, 223)
}

.dropdown {
  display: none;
  background: hsl(225, 12%, 93%);
  border-radius: 5px;
  box-shadow: 0 1px 8px rgba(0,0,0,.25);
}

.todo .dropdown {
  position: absolute;
  top: 55px;
  z-index: 10;
}

.active >.dropdown {
  display: block;
}

.todo .list-chooser li {
  min-width: 240px;
  padding: 7px 16px;
  position: relative;
  font-size: .9375rem;
  line-height: normal;
  white-space: nowrap;
}

.todo .list-chooser li:hover {
  background-color: hsl(214, 15%, 73%);
}

.todo-header .more {
  height: 100%;
  position: static;
}

.todo-header .mobile-close, .todo-header .more-toggle {
  padding: 5px 21px 0 5px;
  position: relative;
}

.header .icon-wrapper {
  height: 100%;
  min-width: 17px;
  padding: 0 4px 0 3px;
}

.icon-wrapper .icon {
  opacity: .7;
}

.icon {
  height: 13px;
  width: 13px;
  z-index: 3;
  fill: hsl(216, 6%, 48%);
}

.icon-ellipsis:before {
  content: '\e808';
}

.todo-header .mobile-close, .todo-header .more-toggle {
  padding: 5px 18px 0 5px;
  position: relative;
}

[class*=" icon-"]:before, [class^=icon-]:before {
  width: 1em;
  display: inline-block;
  font-family: icons;
  font-variant: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
}

.todo-list-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: max-height .3s ease, min-height .3s ease, padding .3s ease;
}

.todo-list {
  width: 100%;
  /* overflow-x: hidden; */
  /* overflow-y: auto; */
  transition: opacity .2s ease;
}

.todo-item {
  position: relative;
  display: none;
  opacity: 0;
  font-size: 1rem;
  line-height: 1.1875;
  visibility: hidden;
}

.todo .list-chooser .todo-count {
  margin-left: 3px;
  opacity: .45;
  font-size: 93.33333%;
}

.todo .list-chooser .list-name {
  opacity: .7;
  line-height: 1.2;
}

.todo .todo-list-choice-active .list-name {
  opacity: 1;
  font-weight: 500;
}

.todo-item.visible {
  width: 100%;
  display: inline-block;
  opacity: 1;
  visibility: visible;
}

.todo-item-wrapper {
  padding: 3px 0 2px;
  display: flex;
  align-items: baseline;
}

.todo-item label {
  padding-right: 8px;
  padding-left: 21px;
  position: relative;
  top: 1px;
  z-index: 10;
  display: flex;
  opacity: 1;
  font-size: 1rem;
}

.todo-item-title {
  min-width: 0;
  flex: 1 1 auto;
  display: block;
  cursor: default;
  outline: 0;
  word-wrap: break-word;
}

.done > .todo-item-wrapper .todo-item-title {
  opacity: .5;
  text-decoration: line-through;
}

.todo-item .more-toggle {
  position: relative;
  margin: -3px 0;
  padding: 0 20px 0 8px;
  z-index: 2;
}

.todo-item.active {
  background-color: rgb(226, 223, 223);
}

.has-more .more {
  opacity: 0;
}

.has-more .more.active, .has-more:hover .more {
  opacity: 1;
}

.dropdown-list {
  padding: 6px 0;
  position: relative;
  z-index: 0;
  transition: transform .25s ease, height .25s ease;
}

.dropdown-list-item {
  max-width: 280px;
  padding: 8px 15px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: .875rem;
  font-weight: 400;
  line-height: normal;
  border-bottom: 1px solid hsl(210, 13%, 82%);
}

.dropdown-list-item:last-of-type {
  border: none;
}

.dropdown-list-item:hover {
  background-color: hsl(213, 8%, 77%)
}

.todo .footer-input {
  position: static;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-input input {
  width: 100%;
  padding: 8px 21px 18px;
  display: block;
  opacity: .75;
  border: none;
  font-size: 1rem;
  overflow: hidden;
}

.footer-copy {
  align-self: center;
  display: flex;
  align-items: center;
  column-gap: 20px;
  opacity: 0.7;
  fill: black;
}

.github-link {
  color: #fff;
  text-decoration: none;
  opacity: 0.7;
}

.rss {
  width: 50px;
  height: 18px;
  background-image: url("../assets/svg/rs_school_js.svg");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.7;
  filter: invert(100%) sepia(0%) saturate(6%) hue-rotate(151deg) brightness(103%) contrast(102%);
}

.rss:hover, .github-link:hover {
  opacity: 1;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.visually-hidden {
  display: none;
}


@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}