@font-face {
  font-family: 'Arial-MT';
  src: url("../assets/fonts/Arial-MT.woff"); /* Путь к файлу со шрифтом */
 }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
  text-align: center;
  background: url("") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  transition: background-image 1s ease-in-out;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;  
  padding: 20px;
}

.player {
  opacity: 0;
  transition: opacity 0.4s ease;
}  

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";  
  position: absolute;
  left: 0;
  top: 2px;
  font-weight: 900;
}

.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  transition: .3s;  
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;  
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("../assets/svg/play.svg");
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;  
  text-align: left;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;  
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {  
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;  
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.greeting {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100%;
  font-size: 40px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.greeting-text {
  flex: 1;  
  padding: 10px;
  text-align: right;
}

.name {
  flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 28vh;
  min-height: 160px;  
  padding: 20px;
}

.quote {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/svg/reload.svg");  
}

.quote-text {
  min-height: 32px;
  margin-bottom: 6px;
  transition: all 0.4s ease;
}

.author {
  min-height: 20px;
}

.settings-general,
.settings-background,
.settings-quote,
.settings-player {
  display: none;
}

.tab-visible {
  display: block;
}

.visible {
  opacity: 1;
}

.settings {
  align-self: flex-start;
}

.app-wrapper {
  position: relative;
  bottom: 6px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
}

.settings.show-fade-in .app-wrapper {
  opacity: 0.98;
  visibility: visible;
}

.app {
  position: absolute;
  bottom: 12px;
  max-height: 100vh;
  min-width: 200px;
  background-color: #fff;
  border-radius: 12px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: left;
  color: hsl(232, 19%, 16%);
}

.settings-app {
  height: 520px;
  width: 720px;
  padding: 0;
}

.nipple-bottom-left:after {
  position: absolute;
  content: '';
  bottom: 5px;
  left: 30px;
  height: 0;
  width: 0;
  overflow: visible;
  display: block;
  opacity: 1;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
}

.settings-nav {
  height: 520px;
  width: 200px;
  margin-top: 0;
  padding: 23px 0 0;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  border-right: 1px solid hsl(219, 12%, 68%);
  float: left;
  overflow: hidden;
}

.settings-nav .active {
  opacity: 1 !important;
  font-weight: bold !important;
}

.settings-nav-list {
  flex-grow: 1;
}

.settings-nav .settings-nav-item {
  padding: 5px 20px;
  flex: 0 0 auto;
  display: block;
  opacity: 0.65;
  cursor: pointer;
  font-size: 1.0625rem;
  font-weight: 500;
  transition: opacity 0.4s ease;
}

.settings-nav .settings-nav-item:hover {
  opacity: 0.85;
}

.settings-view-container-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.settings-view-container {
  flex-grow: 1;
}

.settings-view {
  min-height: 100%;
  width: 507px;
  padding: 30px;
  position: relative;
  overflow-x: hidden;
}

.settings h3 {
  margin: -1px 0 2px;
  font-size: 1.375rem;
  font-weight: 600;
}

.settings-view h4 {
  margin-bottom: 15px;
}

.bg-info {
  margin-top: 12px;
}

.settings .description {
  margin: 3px 0 21px;
  font-size: 0.875rem;
  line-height: 1.3;
  opacity: 0.7;
}

.settings .first {
  margin-top: 0;
  margin: 39px 0 13px;
  font-size: 0.875rem;
  text-transform: uppercase;
}

.options-list {
  padding: 0;
  list-style-type: none;
  margin-bottom: 15px;
}

.settings-list li {
  margin: 0;
  padding: 11px 6px;
  border-top: 1px solid rgb(214, 214, 214);
}

.slide-toggle {
  padding: 11px 6px;
  position: relative;
  cursor: pointer;
}

.has-toggle:hover .toggle-slider {
  background-color: rgb(66, 66, 66);
}

.on:not(.disabled).has-toggle:hover .toggle-slider {
  background: #7edc74;
}

.setting-name {
  opacity: 0.9;
}

.slide-toggle input[type=checkbox] {
  display: none;
}

.toggle-slider {
  position: relative;
}

.slide-toggle.disabled .toggle-slider {
  opacity: .5;
}

.app input, .app select, .app textarea {
  width: 100%;
  padding: 6px 1px;
  border: 0;
  border-bottom: 2px solid rgb(231, 225, 225);
  -webkit-border-radius: 0;
  border-radius: 0;
  color: black;
  font-size: 100%;
  outline: 0;
  transition: border .1s ease;
}

.app .settings-label, .app .settings-submit {
  display: inline-block;
  margin-top: 24px;
}

.on:not(.disabled) .toggle-slider {
  background: #4cbf3f;
}

.on:not(.disabled) .toggle-switch {
  transform: translateX(14px) scale(1.25);
}

.toggle-switch {
  position: relative;
  height: 12px;
  width: 12px;
  top: 4px;
  left: 3px;
  display: inline-block;
  transform-origin: 50% 50%;
  transition: transform 0.3s ease;
  vertical-align: top;
}

.on:not(.disabled) .toggle-switch circle {
  opacity: 1;
}

.toggle-switch circle {
  opacity: .7;
  fill: #fff;
}

.toggle-slider {
  position: relative;
  height: 20px;
  width: 33px;
  background: gray;
  border-radius: 30px;
  float: right;
}

.toggle-lang .toggle-slider {
  background-color: #fff;
  border: 1px solid #d3d2d2;
}

.toggle-lang .toggle-switch circle {
  fill: #d3d2d2;
}

.toggle-lang.on .toggle-slider {
  background: #fff;
}

.toggle-lang .on:hover .toggle-slider {
  background: #fff;
}

.settings-list .toggle-slider {
  margin-top: -1px;
  margin-right: -1px;
}

.toggle {
  margin-left: 15px;
  height: 60px;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity .15s ease, filter .15s ease;
}

.toggle:hover {
  opacity: 0.8;
}

.settings .toggle-icon {
  height: 18px;
  width: 18px;
  transition: transform 0.15s;
}

.settings.show-fade-in .toggle {
  opacity: 1;
}

.settings.show-fade-in .toggle-icon {
  transform: rotate(38deg) scale(1.1);
}

.settings-nav-chooser {
  display: none;
}

.mobile-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 21px;
  display: block;
}

.icon-wrapper {
  padding: 5px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.icon-wrapper:after {
  content: '';
  height: 25px;
  width: 25px;
  position: absolute;
  z-index: 2;
  display: block;
  border-radius: 50px;
  background:rgb(226, 223, 223)
}

.mobile-close .icon {
  height: 9px;
  width: 9px;
  opacity: 0.8;
  z-index: 12;
  fill: hsl(120, 11%, 11%);
}

.settings-nav-header {
  display: none;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;    
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
  }
}